# The default listen port
PORT=

# MySQL variables
# DB host
DB_HOST=
# DB port
DB_PORT=
# DB user
DB_USER=
# DB password
DB_PASSWORD=
# DB name
DB_NAME=

# Encryption
ENCRYPT_SECRET=
ENCRYPT_IV=

TOKEN_EXPIRATION_TIME=365d
COOKIE_DOMAIN=localhost

# API credentials
API_USER_ID=
API_USER_PASSWORD=
API_KEY=

# Default SMTP server variables
# SMTP server hostname or IP address
SMTP_SERVER=
# SMTP server port
SMTP_PORT=
# email address to authenticate
SMTP_USER=
# the user password
SMTP_PASSWORD=

# Default IMAP server variables
# IMAP server hostname or IP address
IMAP_SERVER=
# IMAP server port
IMAP_PORT=
# email address to authenticate
IMAP_USER=
# the user password
IMAP_PASSWORD=

# Datahub
DATAHUB_URL=http://localhost:5010
