.DS_Store
.env
/config/
/etc/settings.json
/node_modules/
/public/*
!/public/flow-er
/module/
/vendor/*
!/vendor/auth/
!/vendor/bo/
!/vendor/flCore/
!/vendor/doc/
!/vendor/document/
!/vendor/translation/
!/vendor/my/
!/vendor/pub/
!/vendor/studio/
!/vendor/user/
!/vendor/utils/
/vendor/mdb/
